export(scale_x_product)
export(find_col_level)
export(col_labels)
export(scale_y_product)
export(find_row_level)
export(row_labels)
export(parse_product_formula)
export(spine)
export(hspine)
export(vspine)
export(hbar)
export(vbar)
export(fluct)
export(tile)
export(prodplot)
export(colour_weight)
export(colour_level)
export(mosaic)
export(stacked)
export(nested)
export(ddecker)
export(flucts)
